.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    background: white;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid rgb(190, 190, 190);
    padding-left: 10px;
}

button {
    height: 30px;
    background: green;
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 5px;
    width: 300px;
}

button:hover {
    cursor: pointer;
}

input, button {
    box-sizing: border-box; 
    width: 300px;
}